#1
students = ['Ali', 'Vali', 'Doston', 'Kamola']
<ul>
    {% for student in students %}
      <li>{{ student }}</li>
    {% endfor %}
  </ul>

#2
colors = ('qizil', 'yashil', "ko'k")
<ul>
    {% for color in colors %}
      <li>{{ color }}</li>
    {% endfor %}
  </ul>
  
#3
student = {
    'ism': 'Ali',
    'familiya': 'Valiyev',
    'yosh': 20
}
<ul>
    <li>Ism: {{ student.ism }}</li>
    <li>Familiya: {{ student.familiya }}</li>
    <li>Yosh: {{ student.yosh }}</li>
  </ul>

#4
books = [
    {'nomi': 'Ufq', 'muallif': 'T. Malik'},
    {'nomi': 'Alkimyogar', 'muallif': 'P. Coelho'}
]
<ul>
    {% for book in books %}
      <li>{{ book.nomi }} - {{ book.muallif }}</li>
    {% endfor %}
  </ul>
  